body {
  background-image: url("../images/grapes.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.background {
  background-repeat: no-repeat;
  background-size: 1080px auto;

}

.rug {
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(255,241,220);
  background: rgba(255,241,220,0.75);
  text-align: inherit;
}

.delete{
  border-radius: 0%;
  border-width: 0px;
  background-color: #FFFFFF
}
